*{
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
  /* transform: translate(-50%,0); */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header .logo img {
  height: 70px;
  color: black;
  /* position: sticky; */
  /* top: 3px; */
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.nav ul li {
  /* display: inline; */
  padding: 5px;
  font-size: 18px;
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  transition: 2s;
}

.nav ul li a:hover{
  color: ghostwhite;
}

.dropdown__menu{
  display: none;
}

.nav ul li:hover .dropdown__menu{
  display: block ;
  position: absolute;
  left: 0;
  top: 100%;
  /* background-color: transparent; */
  background-color: white;
}

.dropdown__menu ul{
  display: block;
  /* text-align: center; */
  /* margin: 10px; */
}

.dropdown__menu ul li{
  /* width: 150px; */
  padding: 10px;
}

#edu{
  width: 200px;
}
#about{
  width: 400px;
}
#practical{
  width:300px ;
}
#parents{
  width: 300px;
}









.een{
  width: 100%;
  height: 950px;
  background-color: #e3f4fe;
}
.een h1{
  color: #2f265b;
  font-size: 5em;
  text-align: center;
  position: relative;
  top: 15%;
}

.een img{
  position: relative;
  top: 20px;
  width: 150px;
}
.een1{
  display: flex;
  position: relative;
  top: 350px;
  margin-left: 250px;
  /* left: 300px; */
}
.een1 .para{
  width: 350px;
  font-size: 1.3em;
  text-align: justify;
}
.een2{
  position: relative;
  left: 150px;
  bottom: 70px;
}
.een2 img{
  width: 300px;
  height: auto;
  /* bottom: 100px; */
}
.atmost{
  width: 100%;
  height: 1000px;
}
.atmost1{
  margin-left: 350px;
  margin-right: 350px;
  position: relative;
  top: 200px;
}
.atmost1 h2{
  text-align: center;
  font-size: 2.5em;
  line-height: 2em;
}
.atmost1 p{
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
.atmost1 .but{
  width: 200px;
  /* height: 50px; */
  color: #2f265b;
  padding: 20px;
  text-align: center;
  border: none; 
  border-radius: 30px;
  background-color: lightgreen;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  left: 190px;
  top: 40px;
}
.value-of-epic{
  /* background-color: antiquewhite; */
  width: 100%;
  height: 550px;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  position: relative;
  bottom: 250px;
}

.six-value{
  width: 33%;
  height:400px ;
  /* background-color: white; */
  position: relative;
  top: 90px;
  left: 40px;
}
.six-value h1{
  font-size: 3em;
}
.six-value p{
  font-size: 1.5em;
  margin-top: 20px;
}
.our-education{
  border: none;
  border-radius: 20px;
  width: 190px;
  height: 50px;
  position: relative;
  top: 30px;
}

.value{
  width: 28%;
  /* height: 200px; */
  position: relative;
  left: 80px;
  top: 90px;
}
.value h1{
  line-height: 60px;
}
.value p{
  font-size: 1.2em;
}

.value2{
  width: 28%;
  position: relative;
  left: 110px;
  top: 90px;
}
.value2 h1{
  line-height: 60px;
}
.value2 p{
  font-size: 1.2em;
}
.epic{
  background-color: #2a285a;
  height: 605px;
}
.epic h1{
  text-align: center;
  position: relative;
  top: 30px;
}
.well{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 100px;
  /* background-color: #2a285a; */
}
.hero{
  width: 200px;
  text-align: justify;
  margin-left: 200px;
}
.hero h3{
  line-height: 2em;
}
.hero2{
  margin-top: 50px;
}
.chil{
  width: 200px;
  text-align: justify;
  margin-right: 200px;
}
.chil h3{
  line-height: 2em;
}
.chil2{
  margin-top: 50px;
}


.photo{
  background-color: red;
  width: 100%;
  height: 300px;
  /* justify-content: center; */
  display: flex;
  /* position: relative; */
  /* top: 50px; */
}
.photo img{
  width: 300px;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.photo h1{
  background-color: hotpink;
  width: 300px;
  height: 100px;
  position: relative;
  bottom: 5px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.photo span{
  position: relative;
  top: 20px;
}
#pho1{
  position: relative;
  top: 130px;
}
#pho2{
  position: relative;
  top: 180px;
}
#pho3{
  position: relative;
  top: 130px;
}
#pho4{
  position: relative;
  top: 180px;
}
.photo1{
  margin: 10px;
  position: relative;
  left: 30px;
}
footer{
  background-color: rgb(42, 40, 91);
  width: 100%;
}
.space{
  width: 100%;
  height: 300px;
}
.lastone{
  width: 100%;
  height: 530px;
  display: flex;
}
.last1{
  width: 20%;
  margin-left: 100px;
  position: relative;
  /* top: 60px; */
}
.last1 img{
  position: relative;
}
.last1 ul{
  list-style: none;
  /* gap: 20px; */
  color: white;
  font-size: 1.2em;
}
.last1 ul li{
  padding: 10px;
  position: relative;
  top: 30px;
}
.last1 ul li a{
  text-decoration: none;
  color: white;
}
.last1 .fac{
  width: 40px;
  position: relative;
  top: 20px;
}
.abo ul{
  list-style: none;
  font-size: 1.2em;
  position: relative;
}
.abo ul li{
  padding: 10px;

}
.abo ul li a{
  text-decoration: none;
  color: white;
}
.abo{
  margin-top: 70px;
  position: relative;
  left: 80px;
}
.adu ul{
  list-style: none;
  font-size: 1.2em;
  position: relative;
}
.adu ul li{
  padding: 10px;

}
.adu ul li a{
  text-decoration: none;
  color: white;
}
.adu{
  margin-top: 70px;
  position: relative;
  left: 100px;
}
.pra ul{
  list-style: none;
  font-size: 1.2em;
  position: relative;
}
.pra ul li{
  padding: 10px;
}
.pra ul li a{
  text-decoration: none;
  color: white;
}
.pra{
  margin-top: 70px;
  position: relative;
  left: 120px;
}
.parents ul{
  list-style: none;
  font-size: 1.2em;
  position: relative;
}
.parents ul li{
  padding: 10px;
}
.parents ul li a{
  text-decoration: none;
  color: white;
}
.parents{
  margin-top: 70px;
  position: relative;
  left: 140px;
}
.foot{
  width: 100%;
  height: 100px;
  background-color: rgb(42, 40, 91);
  display: flex;
  /* padding-left: 100px; */
  /* text-align: end; */
}
.foot ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 1em;
  color: white;
}
.foot  ul li{
  /* padding: 5px; */
  /* font-size: 18px; */
  position: relative;
  left: 90px;
  margin-top: 40px;
}
.foot img{
  position: relative;
  left: 160px;
}
.foot img{
  position: relative;
  left: 160px;
}
